<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu site expressJS</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #ccc;
      }
      .menu {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <nav class="menu">
    <img
      width="150"
      src="https://www.google.com/imgres?q=logo%20blue%20lock&imgurl=https%3A%2F%2Fih1.redbubble.net%2Fimage.4303071928.3821%2Fflat%2C750x%2C075%2Cf-pad%2C750x1000%2Cf8f8f8.jpg&imgrefurl=https%3A%2F%2Fwww.redbubble.com%2Fi%2Fart-print%2FBlue-Lock-Logo-by-LiveYourStyle%2F127653821.1G4ZT&docid=VVuD1LvubSUBRM&tbnid=TpaMw8lBSp9AiM&vet=12ahUKEwjrttvY0vSIAxXUWbgEHb_QHIMQM3oECBkQAA..i&w=750&h=1000&hcb=2&ved=2ahUKEwjrttvY0vSIAxXUWbgEHb_QHIMQM3oECBkQAA"
      alt=""
    />
    <ul>
      <a href="/">HOME</a>
      <a href="/sobre">SOBRE</a>
    </ul>
  </nav>
  <body></body>
</html>
